@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Noyh", sans-serif;
}

@font-face {
  font-family: "Noyh";
  src: url("fonts/noyh-geometric-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  background-color: #fff6ea;
}

#backgroud {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#co-background {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* Navbar */
#navbar {
  margin: 0 auto;
  padding: 20px 0;
  width: 90%;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  /* gap: 50px; */
}

#header-logo {
  width: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding-left: 30px; */
}

#header-logo img {
  width: 100px;
  /* height: 60px; */
}

#brand {
  font-size: 40px;
}

/* Buttn */

#header-button {
  width: 100%;
  position: relative;
}

#header-button a {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  position: relative;
  z-index: 1;
  /* background-color: #764c22; */
  display: inline-block;
  text-align: center;
  /* font-size: ; */
}

.animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  border-bottom: solid #764c22;
  /* color: #fff; */
  /* border-radius: 20px; */
  transition: all 0.5s ease;
}

a:nth-child(1) {
  padding: 0 5px;
  /* background-color: #3312; */
  padding: 10px 20px;
  /* color: #fff; */
}

.start-home,
a:nth-child(1):hover ~ .animation {
  width: 50px;
  left: 0;
  margin: 0 5px;
  padding: 0 20px;
}
.start-home,
a:nth-child(1):hover ~ .animation:active {
  color: #fff;
}

a:nth-child(2) {
  padding: 0 5px;
  /* background-color: #3312; */
  padding: 10px 20px;
  border-radius: 20px;
}

.start-profile,
a:nth-child(2):hover ~ .animation {
  width: 60px;
  left: 110px;
  margin: 0 5px;
  padding: 0 20px;
}

a:nth-child(3) {
  padding: 0 5px;
  /* background-color: #3312; */
  /* padding: 10px 20px; */
  border-radius: 20px;
}

.start-product,
a:nth-child(3):hover ~ .animation {
  width: 70px;
  left: 210px;
  margin: 0 5px;
  padding: 0 20px;
}

a:nth-child(4) {
  padding: 0 40px;
  /* background-color: #3312; */
  /* padding: 10px 20px; */
  border-radius: 20px;
}

.start-contact,
a:nth-child(4):hover ~ .animation {
  width: 70px;
  left: 335px;
  margin: 0 5px;
  padding: 0 20px;
}

/* Contact */
#bg-contact {
  margin: 0 auto;
  padding: 80px 0 30px 0;
  width: 100%;
  /* background-color: #764c22; */
}

#co-contact {
  width: 90%;
  margin: 0 auto;
  /* padding: 20px 0 0 0; */
  background-color: #ead7c3;
  border-radius: 50px;
}

#contact {
  /* border: solid; */
  width: 100%;
  padding: 0;
  margin: 0 auto;
  height: 350px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 30px;
}

/* Content */

#bg-content {
  margin: 0 auto;
  /* padding: 80px 0 30px 0; */
  width: 100%;
  /* background-color: #764c22; */
}

#co-content {
  width: 90%;
  margin: 0 auto;
  /* padding: 20px 0 0 0; */
  background-color: #ead7c3;
  border-radius: 50px;
}

#content {
  /* border: solid; */
  width: 100%;
  padding: 0;
  margin: 0 auto;
  height: 350px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 30px;
}

#contact1 {
  width: 100%;
  padding: 0 30px;
  color: #3a2922;
}

#judul-contact {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0;
}

#contact2 {
  width: 100%;
  padding: 25px;
}

#co-contact-email {
  /* padding: 0 30px 0 0; */
  /* border: solid #3a2922; */
  background-color: #fceddb;
  border-radius: 50px;
  height: 300px;
  margin: 0px 100px 0px 0;
}

#container-email {
  display: flex;
  gap: 30px;
  justify-content: center;
  height: 150px;
  align-items: center;
  color: #3a2922;
  /* position: relative; */
  padding: 0 0 0 40px;
}

#icon-email {
  /* width: 100%; */
  padding: 100px 0 0 30px;
  margin: 0 auto;
  text-align: center;
}

#icon-email img {
  /* color: #000; */
}

#text-email {
  width: 100%;
  padding: 100px 0 0 0;
  margin: 0 auto;
}

#container-telp {
  display: flex;
  gap: 30px;
  height: 150px;
  justify-content: center;
  color: #3a2922;
  /* align-items: center; */
  padding: 10px 0 0 40px;
}

#icon-telp {
  /* width: 100%; */
  padding: 0 0 0 30px;
  margin: 0 auto;
  /* text-align: center; */
}

#icon-telp img {
  /* color: #000; */
}

#text-telp {
  width: 100%;
  padding: 20px 0 0 15px;
  margin: 0 auto;
}
